@import "global-variables";

/* Content container */
.content-container {
  @include flex-column-center-aligned;
  width: 100%;
  height: 100%;
  ::-webkit-scrollbar {
    display: none;
  }
}

.timeline {
  @include flex-column-center-aligned;
  width: 100%;
  padding: 0 5% 5%;
}

/* Desktop content container */
@media only screen and (min-width: 1024px) {
  .content-container {
    @include flex-row-space-between;
    align-items: flex-start;
    margin-top: $nav-bar-height;
    padding: 5%;
  }
  .timeline {
    height: 80vh;
    overflow: scroll;
    padding: 0;
    margin-left: 10%;
  }
}
