@import "global-variables";

.user-profile {
  @include flex-column-hor-vert-aligned;
  width: 100%;
  height: 400px + $nav-bar-height;
  color: $inverse-text-color;
  background-color: $profile-background-color;
  background-image: $profile-background-image;
  .user-name h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
  }
}

/* desktop styles */

@media only screen and (min-width: 1024px) {
  .user-profile {
    @include flex-row-center-aligned;
    width: 60%;
    height: 400px;

    .profile-container {
      margin: 1.5rem;
    }
  }
}
