.user-profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  justify-content: center;
  height: 400px;
  color: #ffffff;
  background-color: #a36d00;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  .user-name h2 {
    font-size: 2rem;
    margin: 0;
  }
}

/* desktop styles */

@media only screen and (min-width: 1024px) {
  .user-profile {
    justify-content: center;
    width: 60%;
    height: 400px;
    

    .profile-container {
      margin: 1.5rem;
    }
    .profile-pic {
      margin-top: 0;
    }
  }
}
