@import "global-variables";

/* Nav bar */
.nav-bar {
  @include flex-row-space-between;
  width: 100%;
  position: fixed;
  top: 0;
  height: $nav-bar-height;
  padding: 0 1.5rem;
  color: $inverse-text-color;
  background-color: transparent;
  border: none;
  
  .nav-new-tweet {
    @include flex-column-center-aligned;
  }
  .bouncing-arrow {
    font-size: 1rem;
    color: $pretty-red;
    position: relative;
    animation: bounce 1s infinite;
  }
  
  
  .big-logo {
    font-family: $bungee-font;
    font-size: 2rem;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(.25rem);
  }
  50% {
    transform: translateY(0);
  }
}

/* Desktop nav */
@media only screen and (min-width: 1024px) {
  .nav-bar {
    background-color: $tweeter-blue;
    border-bottom: 1px solid $text-color;
  }
}
