.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 120px;
  height: 520px;
  color: #ffffff;
  background-color: #a36d00;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}



.profile-pic {
  margin-top: 35px;
}


/* desktop styles */

@media only screen and (min-width: 1024px) {
  .user-profile {
    width: 40%;
    height: 480px;
    padding-top: 60px;
    
    .profile-container {
      margin: 5%;
    }
    .profile-pic {
      margin-top: 0;
    }
  }
  
}