/* Nav bar */
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  height: 120px;
  padding: 0 1.5rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.nav-bar .nav-new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-bar .bouncing-arrow {
  font-size: 1rem;
  color: #d41616;
  position: relative;
  animation: bounce 1s infinite;
}
.nav-bar .big-logo {
  font-family: "Bungee", sans-serif;
  font-size: 2rem;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0.25rem);
  }
  50% {
    transform: translateY(0);
  }
}
/* Desktop nav */
@media only screen and (min-width: 1024px) {
  .nav-bar {
    background-color: #4056a1;
    border-bottom: 1px solid #545149;
  }
}
