.new-tweet {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1em auto;
  font-weight: bold;
}

#new-tweet-text {
  width: 100%;
  height: 50px;
  resize: none;
  color: #393731;
  border: none;
  border-bottom: #393731 0.2em solid;
  background-color: #f4f1ec;
}

.tweet-ui {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  font-size: 1em;
  margin-top: 0.5em;
}

.tweet-ui button {
  padding: 0.25em 0.5em;
  border: none;
  background-color: #4056a1;
  color: #ffff;
}

.tweet-ui .counter {
  padding: 0.175em 0em;
  font-family: inherit;
  font-size: 1em;
}
